                               /*   body  */  

body{
    margin: 0px;
}

                                /*   Header  */  
#header{
    display: flex;
    background-color: #000000;
    width: auto;
    height: 60px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -10px;
    padding-bottom: 70px;
    margin: auto;
}

                                /*   Header left  */  /*   Header left  */
#headerleft{
    display: flex;
    justify-content: center;
}
#headerh1{
    margin-left: 100px;
    margin-top: -20px;
    font-size: 24px;
    line-height: 112px;
    padding-right: 40px;
}
.buttoncommon{
    font-size: 16px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    padding: 8px 20px 8px 20px;
    border-radius: 15px;
    margin: 20px;
    margin-left: 0px
}
.buttoncommon:hover{
    background-color:#333333;
    border-radius: 15px;
}
                                 /*   Header right  */    /*   Header right  */
#headerright{
    display: flex;
    justify-content: center;
    padding-left: 300px;
}

                                      /*   En button  */
.en{
    display: flex;
    width: 37px;
    height: 8px;
    justify-content: center;
    padding: 12px 20px 20px 15px;
    padding-bottom: ;
    margin-top:14px;
}
.enicon{
    padding-left: 10px;
    margin-top: 2px;
}
.eniconh1{
    background-color: #0000;
    font-size: 14px;
    margin-top: px;
    border: none;
    color: #FFFFFF;
}
.en:hover{
    background-color:#333333;
    border-radius: 25px;
}

                               /*   product button  */
             
.product{
    padding: 12px 40px 20px 40px;
}
.producticon{
    height: 15px;
    width: 15px;
}
                               /*   log in button  */

.loginicon{
    height: 20px;
    width: 20px;
}

                                /*   log out button  */

.logout{
    background-color:white;
    color: #000000;
}
.logout:hover{
    background-color: #E5E5E5;
}

                                /*   Hero section  */
.herosection{   
    width: 1519px;
    height: 854px;
    background-image: url(images/Herosection/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
.tabsection{
    display: flex;
    position: absolute;       /*   almost spend 3 hours on this lol  */   
    justify-content: center;
    width: 1187px;
    height: 121px;
    background: white;
    margin: 80px 0px 0px 200px;
    padding: 10px 0px 10px 0px ;
}
.all{
    padding: 25px 70px 25px 45px;
    text-align: center;
    font-size: 12px;
}

                                   /* Main Heading section */
.headingsection{
    position: absolute;
    text-align: left;
    width: 470px;
    height: 340px;
    background-color: white;
    margin: 220px 0px 0px 200px;
    padding-bottom: 50px;
}
.heading{
    font-size: 52px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -0.1rem;
    padding-left: 30px;
}
.textline{
    font-size: 14px;
    margin-top: -30px;
    padding-left: 30px;

}
                       /* Main heading button */
.signuptodrive{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: white;
    background-color: black;
    border-radius: 0px;
    padding: 40px 40px 40px 40px;  
    margin-left: 200px;
    margin-top: -200px;
}
.signuptodrive:hover{
    border-radius: 0px;
    background-color: #8B8989;
}
.buttondownline{
    margin-left: 30px;
    text-decoration: none;
}
.hrline{
    width: 260px;
    margin-right: 180px;
}

               /* Uber For Business Section */
.uberforbusiness{
    font-size: 36px;
    font-weight: 500px;
    line-height: 44px;
    padding: 50px 00px 0px 200px;
}
.textuberforbusiness{
    font-size: 18px;
    padding: 0px 0px 0px 200px;
}
.businesssection{
    display: flex;
    position: absolute;
    width: 1152px;
    justify-content: center;
    background-color: white;
    margin-left: 200px;
    text-align: left;
}
.foreachsection{
    margin: 20px 20px 0px 20px;
    font-size: 18px;
    width: 360px;
}
.imgsize{
    width: 357px;
    height:250px;
  }

                       /* Safety section */
.safetyheading{
    margin-top: 530px;
    margin-bottom: 30px;
    margin-left: 200px;
    font-size: 36px;
}
.safetysection{
    display: flex;
    justify-content: center;
    text-align: left;
    padding-left: 200px;
    padding-bottom: 80px;
    width: 1152px;
    margin-top: 40px;
}
.safetyforeach{
    margin: 0px 20px 10px 20px;
}
.safetyimgsize{
    width: 540px;
    height: 400px; 
}

                        /* footer button Section */

.footerbutton{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin: 200px 0px 0px 00px; 
}
.individualbutton{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 20px;
}
.arrow{
    margin-left: 240px; 
}
#link{
    text-decoration: none;
    color: black;
}

                         /* Footer */
.footer{
    background-color: black;
    width: 1519px;
    height: 300px;
    margin-top: 60px;
    color: white;
}
.footertext{
    padding: 80px;
    
}