                               /*   body  */  

body{
    margin: 0px;
}

                                /*   Header  */  
#header{
    display: flex;
    background-color: #000000;
    width: auto;
    height: 60px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -10px;
    padding-bottom: 70px;
    margin: auto;
}

                                /*   Header left  */  /*   Header left  */
#headerleft{
    display: flex;
    justify-content: center;
}
#headerh1{
    margin-left: 100px;
    margin-top: -20px;
    font-size: 24px;
    line-height: 112px;
    padding-right: 40px;
}
.buttoncommon{
    font-size: 16px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    padding: 8px 20px 8px 20px;
    border-radius: 15px;
    margin: 20px;
    margin-left: 0px
}
.buttoncommon:hover{
    background-color:#333333;
    border-radius: 15px;
}
                                 /*   Header right  */    /*   Header right  */
#headerright{
    display: flex;
    justify-content: center;
    padding-left: 300px;
}

                                      /*   En button  */
.en{
    display: flex;
    width: 37px;
    height: 8px;
    justify-content: center;
    padding: 12px 20px 20px 15px;
    padding-bottom: ;
    margin-top:14px;
}
.enicon{
    padding-left: 10px;
    margin-top: 2px;
}
.eniconh1{
    background-color: #0000;
    font-size: 14px;
    margin-top: px;
    border: none;
    color: #FFFFFF;
}
.en:hover{
    background-color:#333333;
    border-radius: 25px;
}

                               /*   product button  */
             
.product{
    padding: 12px 40px 20px 40px;
}
.producticon{
    height: 15px;
    width: 15px;
}
                               /*   log in button  */

.loginicon{
    height: 20px;
    width: 20px;
}

                                /*   log out button  */

.logout{
    background-color:white;
    color: #000000;
}
.logout:hover{
    background-color: #E5E5E5;
}
